/* Denna fil skall innehålla din CSS kod */
*{
    margin: 0;
}

.wrapper{

    display:grid;
    width: 100vw;
    height:100vh;


grid-template-areas: 

"he he he he he"
"se se se se na"
"se se se se na"
"se se se se na"
"se se se se na"
"se se se se na"
"se se se se na"
"fo fo fo fo fo"



;

grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(8, 1fr);
grid-gap: 2px;

}

.header{
    grid-area: he;
    background: lightpink;
}
.nav {
    grid-area: na;
    background: salmon;
}
.section{
    grid-area: se;
    background:green;
}
.footer{
    grid-area: fo;
    background: skyblue;
}



