*{
   margin: 0%;
}

/*Startsida*/

.wrapper{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height:150vh;
}


.header{
    display: flex;
   flex-wrap:wrap;
   justify-content: flex-end;
   align-items: center;
    height: 15%;
    width: 100%;
    background: #61892F;
    
}

.header div{
    list-style-type: none;
   padding: 3px;
   margin: 3px;
   height: 25%;
   width:10%;
   border-radius: 15px;
   margin-top: 5%;
   margin-right: 15px;
   
   background: silver;
   box-shadow: 5px 5px grey;

}

.header h1{
    align-self: center;
    height: 5%;
    width: 20%;
    margin-right: 10%;
    font-size: 50px;
}


.article{
display: grid;
width: 80%;
height:100%;
background:  #222629;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
}


.article img{
  
    height: 170%;
    width: 95%;
    margin-top: -25%;
    margin-left: 2%;
}

.article h1{
    margin-left: 10%;
    
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Times New Roman';
}
.article h2{
    margin-top: 3%;
    margin-left: 3%;
    color: whitesmoke;
}

.aside{
    display: grid;
    width: 20%;
    height: 100%;
    background: #86C232;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.aside img{
    height: 80%;
    width: 80%;
    margin-left: 5%;
   margin-top: 5%;
}

.nyheter{
    margin-top: 10%;
}

.nyheter2{
    margin-top:-150px;
}
.aside div{
    margin-top: 7%;
    margin-left: 5%;
}


.footer{
    height: 8%;
    width: 100%;
    background: #474B4F;
   
}
@media only screen and (max-width: 768px) {
    /* För mobilen */
    .header{
        width: 100%;
        height: 50%;
       
    }
    .header h1 {
     margin-right: 75%;
    }
   .header div{
       display: block;
       width: 100%;
       height: 10%;
       margin-top: 1%;
   }

   .article{
       width: 80%;
   }
   .aside {
       width: 20%;
   }
   
  }


/* sida 2*/


.article2{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr ;
 width: 100%;
height:100%;
background:  #222629;
}
.article2 .kursbilder{
    margin-top: 10%;
    width: 80%;
    height: 40%;

}
.article2 img{
margin-left: 10%;
height: 100%;
width: 95%;
}
.article2 h3{
    color: whitesmoke;
   margin-top: -60%;
  margin-left: 5%;
}

@media only screen and (max-width: 768px) {
    .article2 h3{
        margin-top: -80%;
    }
}



/* sida 3*/

.article3{
    display:flex;
    width: 100%;
    height:100%;
    background:  #222629;
}

.article3 ul li{
    margin-top: 10%;
}
.article3 h3{
    color:  #61892F;
}
/* sida 4 */
.article4{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:100%;
    background:  #222629;
}
.article4 div{
    margin-top: 5%;
    height: 50%;
    width: 80%;
    margin-left: 10%;
}
.article4 img{
    height: 100%;
    width: 100%;

}
.article4 div input{
    width: 20%;
    height: 5%;
   margin-left: 40%;

}




